/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import "izitoast/dist/css/iziToast.min.css";
@import "simplelightbox/dist/simple-lightbox.min.css";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 1440px;
  margin: 0 auto;
}

.form {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 8px;
  width: 371px;
  height: 40px;
  margin-top: 36px;
}

.input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  max-height: 40px;
  background: #fff;
  padding-left: 16px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-right: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;

}

.input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

.btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;

}

.btn:hover {
  background: #6c8cff;
}


.gallery {
  margin-bottom: 32px;
  margin-top: 32px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
  column-gap: 24px;
  padding: 0;
}


.gallery-item {
  width: calc((100% - 48px) / 3);
  width: 360px;
  height: auto;
  border: 1px solid #808080;
}

.gallery-img {
  display: block;
  width: 360px;
  height: 152px;
  transition: all 0.3s ease;
}

.gallery-img:hover {
  transform: scale(1.044);
}

.text-wrap {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  background: #fff;
  gap: 20px;

}

.img-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0;
}

.img-text-span {
  font-weight: 400;
  line-height: 2;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #7312e0;

}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 120px;
  left: 50%;
  right: -50%;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #FF3D00;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}

.page-btn {
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  margin-bottom: 44px;

}

.page-btn.is-hidden {
  display: none;
}

.sl-overlay {
  background-color: #2e2f42;
}